<div class="row" id="login">
  <div class="col-md-1 col-md-offset-11">
    <p><%= link_to "LOGIN", new_user_session_path %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 sign_up">
    <p><span class="logo">Scrive</span> is simple. It's design for clutter free writing and it's free to use ;) <br> <br> Want more info? 
      <%= link_to "Check out this behind the scenes breakdown", "https://medium.com/p/a6a1110435c2", target: "_blank" %>. Enjoy :)</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <br>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <br>
      <%= f.submit "Sign up", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
