
<div class="row">
  <div class="col-md-2">
    <% if current_user_subscribed? %>
      <%= link_to 'P', new_page_path, class: "btn btn-primary btn-circle btn-lg active" %>
    <% else %>
      <%= link_to "Subscribe to start writing", new_subscription_path %>
    <% end %>
  </div>
  <div class="col-md-offset-11">
    <p><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></p>
    <p><%= link_to "SETTINGS", edit_user_registration_path %><p>
  </div>
</div>


<% @pages.each do |page| %>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="col-md-8">
        <%= link_to 'VIEW', page %> |
        <%= link_to 'EDIT', edit_page_path(page) %> |
        <%= link_to 'DELETE', page, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br><br />
        <p class="time text-muted"><%= page.created_at.strftime("%b %d, %Y") %></p>
        <%= page.body.html_safe %>
        <hr class="articlesplit"></hr>
      </div>
    </div>
  </div>
<% end %>
  

  

